.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.ant-collapse-content-box {
  padding: 0px !important;
}

.fadeIn {
  -webkit-animation: myFadeIn 1s linear forwards;
  animation: myFadeIn 1s linear forwards;
  opacity: 0;
}

@-webkit-keyframes myFadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes myFadeIn {
  100% {
    opacity: 1;
  }
}

.activePanel {
  -webkit-animation: myFadeInBackground 1s linear forwards;
  animation: myFadeInBackground 1s linear forwards;
  background: #40a9ff !important;
  opacity: 0.8;
}

@-webkit-keyframes myFadeInBackground {
  100% {
    opacity: 1;
  }
}

@keyframes myFadeInBackground {
  100% {
    opacity: 1;
  }
}
